@use '../base/mixins' as *;

// TODO: change decorations to have absolute values
.deco {
  position: absolute;
  z-index: -90;
  opacity: 0.3;

  &__spoon {
    top: 31%;
    // left: 30%;
    left: 9rem;
    opacity: 1;
    stroke: var(--decoration-color);
  }

  &__notch {
    top: 53%;
    left: 7.8rem;
    fill: none;
  }
  &__diamond {
    bottom: 10%;
    left: 7rem;
  }
  &__diamond-notch {
    bottom: 10.67%;
    left: 7.8rem;
  }
}

.transparent {
  font-size: 10rem;
  font-weight: 900;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: var(--decoration-color);
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 0;
  z-index: -1;
}
.decorations {
  height: 100%;
  width: 100%;

  &__col {
    position: fixed;
    z-index: -99;
    background-color: var(--decoration-color);
    height: 100%;
    width: 2px;
    top: 0;
    // left: 30%;
    left: 9rem;

    @include breakpoint-up(small) {
      left: 15%;
    }

    &::before {
      content: "";
      position: fixed;
      z-index: -99;
      background-color: var(--decoration-color);
      height: 100%;
      width: 2px;
      top: 0;
      left: 50%;
      display: none;

      @include breakpoint-up(medium) {
        display: initial;
      }
    }

    &::after {
      content: "";
      position: fixed;
      z-index: -99;
      background-color: var(--decoration-color);
      height: 100%;
      width: 2px;
      top: 0;
      left: 85%;
      display: none;

      @include breakpoint-up(small) {
        display: initial;
      }
    }
  }
}
