.glitch-picture {
  &:not(.back) {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.back {
  z-index: 4;
}
.front-3 {
  z-index: 3;
  // animation: img-glitch-3 750ms linear 1000ms infinite alternate-reverse;
  animation: glitch-animation-3 1500ms linear 1000ms infinite alternate-reverse;

  @media (prefers-reduced-motion) {
    animation: none;
  }
}
.front-2 {
  z-index: 2;
}
.front {
  z-index: 1;
}
@keyframes glitch-animation-3 {
  $steps: 30;
  $steps: 3;

  @for $i from 0 through $steps {
    #{percentage($i * 1 / $steps)} {
      clip-path: polygon(
        // top left
        0%
          (random(37) + 3) *
          1%,
        // top right
        100%
          (random(37) + 3) *
          1%,
        // bottom right
        100%
          (random(37) + 3) *
          1%,
        // bottom left
        0%
          (random(37) + 3) *
          1%
      );
      opacity: random(10) / 10;
      transform: translateX(random(45) - 25 + px);
    }
  }
}
// opacity: random(10) / 10;
// random(100) / 100 * 100% random(100) / 100 * 100%

@keyframes img-glitch-2 {
}
@keyframes img-glitch-1 {
  0% {
  }
}
