@use '../base/mixins' as *;

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: hsl(207, 40%, 15%);
  background-color: var(--preloader-bg-color);
  display: grid;
  place-items: center;
  pointer-events: none;

  &__img {
    @include breakpoint-up(medium) {
      width: 500px;
    }
  }
}
