@use '../base/mixins' as *;

// TODO: create media queries for each device changing the width due to the pseudo elements not being responsive

.projects {
  &__card {
    height: 200px;

    @include breakpoint-up(xsmall) {
      height: 250px;
      // width: 440px;
    }
    @include breakpoint-up(small) {
      height: 275px;
      // width: 520px;
    }

    position: relative;
    -webkit-clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 52%,
      1% 55%,
      1% 85%,
      0% 88%,
      0% 100%,
      93% 100%,
      100% 91%
    );
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 52%,
      1% 55%,
      1% 85%,
      0% 88%,
      0% 100%,
      93% 100%,
      100% 91%
    );
    background-color: var(--container-bg-color);
    place-self: center;
    display: flex;
    justify-content: center;
    padding: 0 2rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 4%;
      background-color: var(--primary-color);
    }
    &::after {
      content: "";
      position: absolute;
      right: 8px;
      bottom: -10%;
      height: 26%;
      width: 4%;
      transform: rotate(49.5deg);
      background-color: var(--primary-color);

      // 405px viewport
      @media (min-width: 25.3125em) {
        transform: rotate(53deg);
      }

      // 440px
      @media (min-width: 27.5em) {
        transform: rotate(55deg);
      }

      // 480px
      @include breakpoint-up(xsmall) {
        transform: rotate(47deg);
      }

      // 500px
      @media (min-width: 31.25em) {
        transform: rotate(49deg);
      }

      // 535px
      @media (min-width: 33.4375em) {
        transform: rotate(51deg);
      }

      // 600px
      @media (min-width: 37.5em) {
        transform: rotate(54deg);
      }
    }
  }
}
