.projects {
  &__card {
    margin: 2rem;
    width: 360px;
    height: 175px;
    position: relative;
    // vertices beginning from top right and counterclockwise
    // 1st choice
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 15%,
      1% 20%,
      1% 80%,
      0% 85%,
      0% 100%,
      95% 100%,
      100% 90%
    );
    // 2nd choice
    // clip-path: polygon(100% 0%, 0% 0%, 0% 52%, 1% 55%, 1% 85%, 0% 88%, 0% 100%, 95% 100%, 100% 90%);
    background-color: var(--container-bg-color);
    display: flex;
    padding-right: 1rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 4%;
      background-color: var(--primary-color);
      box-shadow: 365px -170px 0 -1px var(--primary-color),
        370px -155px 0 -6px var(--primary-color);
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -42%;
      height: 100%;
      width: 3%;
      transform: rotate(48deg);
      background-color: var(--primary-color);
    }
  }
}
