@use '../base/mixins' as *;

// TODO: create media queries for each device changing the width due to the pseudo elements not being responsive

.projects {
  &__card {
    // width: 320px;
    height: 200px;

    @include breakpoint-up(xsmall) {
      height: 250px;
      width: 440px;
    }
    position: relative;
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 15%,
      1% 20%,
      1% 80%,
      0% 85%,
      0% 100%,
      93% 100%,
      100% 91%
    );
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 52%,
      1% 55%,
      1% 85%,
      0% 88%,
      0% 100%,
      93% 100%,
      100% 91%
    );
    background-color: var(--container-bg-color);
    place-self: center;
    display: flex;
    justify-content: center;
    padding: 0 2rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 4%;
      background-color: var(--primary-color);

      //   @include breakpoint-up(xsmall) {
      //     box-shadow: 423px -246px 0 -1px var(--primary-color),
      //       431px -230px 0 -5px var(--primary-color);
      //   }
    }
    &::after {
      content: "";
      position: absolute;
      right: 8px;
      bottom: -10%;
      height: 26%;
      width: 4%;
      transform: rotate(49.5deg);
      background-color: var(--primary-color);

      // 405px viewport
      @media (min-width: 25.3125em) {
        right: 8px;
        bottom: -10%;
        height: 26%;
        width: 4%;
        transform: rotate(54deg);
      }

      @media (min-width: 27.5em) {
        right: 8px;
        bottom: -10%;
        height: 26%;
        width: 4%;
        transform: rotate(56deg);
      }

      @media (min-width: 30em) {
        right: 8px;
        bottom: -10%;
        height: 26%;
        width: 4%;
        transform: rotate(52deg);
      }
    }
  }
}
