.skills__container {
  background-color: var(--container-bg-color);
  display: flex;
  flex-direction: column;
  position: relative;

  // have to create media queries for each container -- due to how the corners were created

  &::before {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    top: -2px;
    left: -2px;
    height: 2rem;
    width: 2rem;
    z-index: -1;
  }

  &--proficient {
    &::before {
      top: -2.5px;
      box-shadow: 0 215.5px 0 var(--primary-color),
        304.5px 0 var(--primary-color), 304.5px 215.5px 0 var(--primary-color);
    }
  }

  &--learning {
    &::before {
      box-shadow: 0 139px 0 var(--primary-color), 304.5px 0 var(--primary-color),
        304.5px 139px 0 var(--primary-color);
    }
    .skills__container__headline {
      &::after {
        left: 143px;
      }
    }
  }
}
