.skills__container {
  background-color: var(--container-bg-color);
  display: flex;
  flex-direction: column;
  position: relative;
  place-self: center;

  &::before {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    top: -3px;
    left: -3.5px;
    height: 2rem;
    width: 2rem;
    z-index: -1;
  }

  &--proficient {
    &::before {
      box-shadow: 0 199px 0 var(--primary-color), 282px 0 var(--primary-color),
        282px 199px 0 var(--primary-color);
    }
  }

  &--learning {
    &::before {
      box-shadow: 0 127px 0 var(--primary-color), 282px 0 var(--primary-color),
        282px 127px 0 var(--primary-color);
    }
    .skills__container__headline {
      &::after {
        left: 125px;
      }
    }
  }
}
