.transparent {
  font-size: 10rem;
  font-weight: 900;
  letter-spacing: 1.5rem;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: var(--decoration-color);
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 0;
  z-index: -1;
}
