@use '../base/mixins' as *;

.footer {
  margin-bottom: 0;

  & > * {
    margin-bottom: 3rem;
  }

  &__headline {
    line-height: 1;
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;

    &--subheadline {
      font-size: 2rem;
      font-size: 1.8rem;
      font-weight: 600;
      color: var(--text-color);
    }

    &--headline {
      display: block;
    }
  }

  &__socials {
    &__list {
      list-style: none;
      height: 3.5rem;
      align-items: center;
      justify-content: start;
      display: flex;
      gap: 3rem;
      padding: 0;
      margin: 0;
    }

    &__items {
      font-size: 0;
      letter-spacing: 0;

      svg {
        width: 3.1rem;
        height: 3.1rem;
      }
    }
  }
  &__copyright {
    font-family: "Kanit", var(--fallback-font);
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }
}
