.footer {
  &__headline {
    line-height: 1.1;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;

    &--subheadline {
      font-size: 2.8rem;
      color: var(--text-color);
    }

    &--headline {
      display: block;
    }
  }

  &__info {
    margin-bottom: 3rem;
  }

  &__socials {
    margin-bottom: 3rem;

    &__list {
      list-style: none;
      justify-content: start;
      display: flex;
      gap: 5rem;
      padding: 0;
      margin-left: 1.5rem;
    }

    &__items {
      font-size: 0;

      svg {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
  &__copyright {
    margin-bottom: 1rem;
  }
}
