@use '../base/mixins' as *;

.hero {
  display: flex;
  flex-direction: column;

  @include breakpoint-up(medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "headline image"
      "info image"
      "info2 image"
      "info3 image"
      "info4 image"
      "button image";
    grid-gap: 1em 3em;
    margin-top: 8rem;
  }

  &__picture__container {
    position: relative;
    margin-bottom: 4rem;
    grid-area: image;

    @include breakpoint-up(medium) {
      place-self: center;
    }
  }

  // &__picture {
  //   width: 639px;
  //   width: 100%;
  // }
  &__headline {
    line-height: 1;
    grid-area: headline;

    &--headline {
      margin: 0.25rem 0 0 -0.4rem;
      font-size: 5rem;
      display: block;

      &:last-of-type {
        margin: 0 0 2rem -0.4rem;

        @include breakpoint-up(medium) {
          margin-bottom: 0;
        }
      }
    }

    &--subheadline {
      display: block;
      font-size: 1.8rem;
      font-family: "Kanit", var(--fallback-font);
      font-weight: 800;
      letter-spacing: 0.2rem;
      color: var(--text-color);
      text-transform: uppercase;
    }
  }
  &__introduction {
    &:nth-of-type(1) {
      grid-area: info;

      @include breakpoint-up(medium) {
        margin-top: 1rem;
      }
    }
    &:nth-of-type(2) {
      grid-area: info2;
    }
    &:nth-of-type(3) {
      grid-area: info3;
    }
    &:nth-of-type(4) {
      grid-area: info4;
    }

    &:not(:last-of-type) {
      margin-bottom: 2rem;

      @include breakpoint-up(medium) {
        margin-bottom: 0;
      }
    }
  }
  &__button {
    grid-area: button;
    button {
      margin: 5rem 0 0 2rem;

      @include breakpoint-up(medium) {
        margin: 2rem 0 0 2rem;
      }
    }
  }
}
