@use '../base/mixins' as *;

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 0;

  &__picture {
    // width: 639px;
    width: 100%;
    position: relative;
    padding: 0;
  }
  &__headline {
    position: relative;
    top: -7.5rem;
    color: var(--bg-color);
    line-height: 1;
    align-self: center;

    &--headline {
      padding: 0 2rem;
      font-size: 3.8rem;

      @media (min-width: 23.4375em) {
        font-size: 4rem;
      }
    }

    &--subheadline {
      font-size: 2.8rem;
      letter-spacing: 0.1rem;
      // display: block;

      @include breakpoint-up(small) {
        font-size: 3rem;
      }
    }
  }
  &__introduction {
    // &:first-of-type {
    //   margin-top: -4rem;
    // }
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }
  &__button {
    margin: 5rem 0 0 2rem;
  }
}
