@use '../base/mixins' as *;

.menu {
  &__modal {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 80%;
    background-color: var(--container-bg-color);
    opacity: 0;
    transform: translate3d(-50%, -50%, 0);
    z-index: 900;
    pointer-events: none;
    transition: all var(--duration-short) var(--basic-timing);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint-up(medium) {
      flex-direction: row;
      align-items: center;
    }

    &.modal--open {
      opacity: 1;
      // transform: translate3d(0, 100%, 0);
      pointer-events: initial;
    }
  }

  &__socials {
    order: 2;
    min-width: 30%;

    @include breakpoint-up(medium) {
      order: 1;
      display: flex;
      flex-direction: column;
    }

    &__list {
      display: flex;
      align-items: center;
      gap: 3rem;

      @include breakpoint-up(medium) {
        flex-direction: column;
        gap: 6rem;
      }
    }

    &__items svg {
      width: 2.5rem;
      height: 2.5rem;
    }

    &__items a {
      text-decoration: none;
    }

    &__items:not(:last-of-type) {
      font-size: 0;
    }
    &__items:last-of-type a {
      font-size: 3rem;
      display: inline-block;
      // padding-top: 0.25rem;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: var(--primary-color);
      -webkit-text-stroke-width: 1px;
      letter-spacing: 0.75px;
      text-transform: lowercase;
    }
  }

  &__form {
    order: 1;

    @include breakpoint-up(medium) {
      order: 2;
    }
  }
}
// TODO: keep position of window while modal is open - refer to CSStricks article
body.prevent-scroll {
  position: fixed;
  overflow-y: hidden;
}
