@use '../base/mixins' as *;

.menu {
  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 900;
    pointer-events: none;

    &--inner.modal--open,
    &--outer.modal--open {
      opacity: 1;
      // transform: translate3d(0, 100%, 0);
      pointer-events: initial;
    }
  }
  &__modal--outer {
    background: hsla(210, 39%, 16%, 0.8);
    opacity: 0;
  }
  &__modal--inner {
    background-color: var(--container-bg-color);
    opacity: 0;
    z-index: 900;
    pointer-events: none;
    transition: all var(--duration-short) var(--basic-timing);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint-up(medium) {
      top: 50%;
      left: 50%;
      height: 80%;
      width: 80%;
      transform: translate3d(-50%, -50%, 0);
      flex-direction: row;
      align-items: center;
    }

    @include breakpoint-up(xlarge) {
      // play with this value a bit more -- in the 60-75 range; can also adjust min-width of socials section
      width: 60%;
    }
  }

  &__socials {
    order: 2;
    margin-top: 4rem;

    @include breakpoint-up(medium) {
      min-width: 30%;
      order: 1;
      display: flex;
      padding-left: 3rem;
      margin-top: revert;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;

      @include breakpoint-up(medium) {
        flex-direction: column;
        gap: 6rem;
        padding: revert;
      }
    }

    &__items svg {
      width: 2.5rem;
      height: 2.5rem;
    }

    &__items a {
      text-decoration: none;
    }

    &__items:not(:last-of-type) {
      font-size: 0;
    }
    &__items:last-of-type a {
      font-family: "Kanit", var(--fallback-font);
      font-weight: 700;
      font-size: 3rem;
      display: inline-block;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: var(--primary-color);
      -webkit-text-stroke-width: 1px;
      letter-spacing: 1.75px;
      text-transform: lowercase;
      padding-top: 0.1rem;

      @include breakpoint-up(medium) {
        padding-top: 0;
        -webkit-text-stroke-width: 0.75px;

        @-moz-document url-prefix() {
          -webkit-text-stroke-width: 0.8px;
        }
      }
    }
  }

  &__form {
    order: 1;

    @include breakpoint-up(medium) {
      order: 2;
    }
  }
}

body.prevent-scroll {
  padding-right: 0.4rem;

  @-moz-document url-prefix() {
    padding-right: 0.75rem;
  }
}
