@use '../base/mixins' as *;

.projects {
  &__container {
    display: grid;
    grid-template-columns: 1fr 3rem;
    grid-template-rows: auto;
    grid-template-areas:
      "card card"
      "title icon"
      "info .";

    @include breakpoint-up(medium) {
      // max-width: 450px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "card title"
        "card info"
        "card link"
        "card .";

      grid-gap: 0 1em;

      &:nth-of-type(2n) {
        grid-template-areas:
          "title card"
          "info card"
          "link card"
          ". card";

        & .projects__card {
          transform: scaleX(-1);

          & .projects__card__screenshot {
            transform: scaleX(-1);
          }
        }
      }
    }

    @include breakpoint-up(large) {
      grid-gap: 0 3em;
    }
  }

  &__card {
    grid-area: card;

    a {
      display: grid;
      place-items: center;
      max-width: 90%;
    }

    &__screenshot {
      source,
      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }

  &__title {
    grid-area: title;
    grid-column: 1 / span 2;

    @include breakpoint-up(medium) {
      grid-column: initial;
    }
  }
  // TODO: make slight changes to buttons -- on hover, the right side is smaller than the left
  &__links {
    grid-area: link;
    grid-row: span 2;
    align-self: end;
    // align-self: center;
    margin: 0 0 1rem 0.5rem;

    & .project__button:nth-of-type(2) {
      margin-left: 4rem;
    }
  }

  &__link {
    grid-area: icon;
    font-size: 0;
    letter-spacing: 0;

    @include breakpoint-up(medium) {
      grid-area: link;
      grid-row: span 2;
      align-self: end;
    }

    @include breakpoint-up(large) {
      font-size: initial;
      letter-spacing: initial;
      text-decoration: none;
    }

    svg {
      width: 2.5rem;
      height: 3rem;
    }
  }

  &__info {
    grid-area: info;
  }
}
