.projects {
  &__container {
    display: grid;
    grid-template-columns: 1fr 5rem;
    grid-template-rows: auto;
    grid-template-areas:
      "image image"
      "title icon"
      "info .";
    grid-row-gap: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__card {
    grid-area: image;

    a {
      display: grid;
      place-items: center;
      max-width: 90%;
    }

    &__screenshot {
      source,
      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }

  &__title {
    grid-area: title;

    a {
      text-decoration: none;
    }
  }

  &__link {
    grid-area: icon;
    font-size: 0;

    svg {
      width: 2.5rem;
      height: 3rem;
    }
  }

  &__info {
    grid-area: info;
  }
}
