.skills {
  display: grid;

  &__container {
    padding: 2rem 0 2rem 2rem;
    // width: 320px;
    // display: grid;

    &__headline {
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      font-size: 1.6rem;
      margin-bottom: 1.5rem;

      &::after {
        content: "_";
        position: absolute;
        top: -1px;
        // create an animation to make this blink -- can just transition opacity
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-right: 2.5rem;
    padding: 0;
    align-self: center;

    &__items {
      width: 40px;
      height: 40px;
      fill: var(--primary-color);
    }
  }
}
