.skills {
  display: grid;

  &__container {
    padding: 2rem 0 2rem 2rem;
    // width: 320px;
    // display: grid;

    &__headline {
      // font-weight: 600;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      font-variation-settings: "wght" 750;

      // &::before {
      //   content: "//";
      //   position: absolute;
      //   top: -1px;
      //   left: 0;
      //   letter-spacing: -4px;
      // }
      &::after {
        content: "_";
        position: absolute;
        top: -2px;
        // create an animation to make this blink -- can just transition opacity
      }
    }
  }

  p {
    margin-bottom: 6rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-right: 2.5rem;
    padding: 0;
    align-self: center;

    &__items {
      width: 40px;
      height: 40px;
      fill: var(--primary-color);
    }
  }
}
