// place mixins for color themes, pseudo-elements, and media queries
@use 'sass:map';

// Breakpoints for Media Queries
$breakpoints: (
  // 480px, 640px, 768px, 1024px, 1200px
  xsmall: 30em,
  small: 40em,
  medium: 48em,
  large: 65em,
  xlarge: 75em
);

@mixin breakpoint-up($size) {
  @media only screen and (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}
