@use '../base/mixins' as *;

:root {
  // Colors
  --bg-color: hsl(210, 39%, 16%);
  --container-bg-color: hsl(188, 50%, 20%);
  --decoration-color: hsl(209, 39%, 19%);
  --primary-color: hsl(168, 100%, 50%);
  --text-color: hsl(38, 22%, 90%);
  --selection-color: hsl(336, 100%, 50%);
  --scrollbar-hover-color: hsl(168, 100%, 30%);

  // Transitions and Animations
  // look into cubic beziers for custom timings
  --basic-timing: ease-in-out;
  --duration-short: 250ms;
  --duration-medium: 450ms;

  font-size: 10px;
}

body {
  background-color: var(--bg-color);
  position: relative;
  overflow-x: hidden;

  &::before {
    content: "";
    background-image: url("/src/assets/background.gif");
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.04;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    will-change: auto;
    pointer-events: none;
    @media (prefers-reduced-motion) {
      background-image: none;
    }
  }
}

// Hiding content on certain viewports
.hide-mobile {
  display: none;
  @include breakpoint-up(small) {
    display: initial;
  }
}
.hide-desktop {
  @include breakpoint-up(small) {
    display: none;
  }
}

// Spacing
// TODO: create media queries to make spacing larger on desktop
.side-spacer {
  padding: 0 3rem;
}
.section-spacer {
  margin-bottom: 10rem;
}

.element-spacer {
  margin-bottom: 8rem;
}

.headline-spacer {
  margin-bottom: 0.25rem;
}
